<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Thymeleaf</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link th:rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body class="d-flex flex-column sticky-footer-wrapper min-vh-100">
<nav th:include="components/navigation :: navigation" class="navbar navbar-expand-lg navbar-light bg-primary"></nav>

<main role="main" class="flex-fill container mt-5">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Welcome to the store</h1>
            <p class="lead">Spring + Thymeleaf + Bootstrap</p>
        </div>
    </div>
</main>

<footer th:include="components/footer :: footer" class="footer"></footer>
</body>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</html>